body {
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: monospace;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  max-width: 40rem;
  margin: 4em auto;
  padding: 0 2em;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.heading p {
  color: rgb(162, 162, 162);
  margin: 0;
}

.heading h1 {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

.error-message {
  background-color: rgb(241 77 76 / 0.1);
  color: rgb(241 77 76);
  border: 1px solid rgb(241 77 76 / 0.25);
  border-radius: 0.5em;
  padding: 1.25em 2em;
}

.error-message p {
  margin: 0;
}

.request-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.75em 1em;
}

.request-grid .muted {
  color: rgb(162, 162, 162);
}

.request-grid pre {
  margin: 0;
  font-family: monospace;
  white-space: pre-wrap;
  line-height: 1.25em;
}

.request-grid .line {
  display: block;
  margin-bottom: 0.75em;
  &:last-child {
    margin-bottom: 0;
  }
}
